body{
    margin: 0px;
}

p, h1{
    color: aliceblue;
}

h2{
    margin: 10px;
}

.all-content{
    display: flex;
}

.side-bar{
    flex: 1;
    background-color: lightblue;
    height: 100vh;
    width: 10px;
    overflow: hidden;
}

.side-image-div{
    height: 20vh;
    display: flex;
    justify-content: center;
}

.side-image{
    height: 100vh;
}

.title-background{
    background-color: rgba(50, 50, 50, 0.7);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 40px;
    font-weight: bolder;
}

.right-side{
    flex: 1.5;
    background-color: #1b3d6d;
    height: 100vh;
    text-align: center;
    font-size: 1.5rem;
}

.input-container{
    text-align: center;
    width:100%;
    height: 25vh;
    background-color: #c6beb5;
    filter: drop-shadow(0px 5px 3px);
    padding: 20px;
}

.content{
    margin-top: 10px;
}

button{
    padding: 16px 32px 16px 32px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 26px;
    margin-left: 32px;
    background-color: #1b3d6d;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    border-style: solid;
    transition: 0.25s;
  
    &:hover,
    &:focus { 
        border-color: #000;
        color: #000;
        background-color: #6aa2b8;
    }
}

button:hover,
button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #000000;
  transform: translateY(-0.25em);
}